<h1 mat-dialog-title class="font-weight-bold">Chi tiết kiểm tra</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-xl-6 font-weight-bold">Ngày kiểm tra</div>
    <div class="col-xl-6">{{data.maintenanceDate | date: 'dd-MM-yyyy'}}</div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xl-12 font-weight-bold">Loại kiểm tra</div>
  </div>
  <br />
  <div class="row">
    <div class="col-xl-12">
      <input type="text" [value]="data.description" class="form-control w-100 font-12"  readonly="true">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xl-12 font-weight-bold">Danh sách nhân sự</div>
  </div>
  <br />
  <div class="row">
    <div class="col-xl-12">
      <table class="table table-bordered table-hover w-100">
        <thead>
          <tr>
            <th style="width: 20%;">Số thứ tư</th>
            <th style="width: 80%;">Họ và tên</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let p of data.persons;index as i">
            <tr [ngClass]="{'text-red': p.supervisor === true}">
              <td>{{ i+1 }}</td>
              <td>{{ p.employee.name }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <ng-container *ngIf="data.details.length > 0">
    <div class="row">
      <div class="col-xl-12 font-weight-bold">Thông tin kiểm tra</div>
    </div>
    <br />
    <div class="row">
      <div class="col-xl-12">
        <table class="table table-bordered table-hover w-100">
          <thead>
            <tr>
              <th style="width: 10%;">Số thứ tư</th>
              <th style="width: 30%;">Thang máy</th>
              <th style="width: 30%;">Mô tả</th>
              <th style="width: 30%;">Vị trí</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let d of data.details;index as i">
              <tr>
                <td>{{ i+1 }}</td>
                <td>{{ d.device.name }}</td>
                <td>{{ d.description }}</td>
                <td>{{ d.location }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <br />
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="btn-primary" (click)="onNoClick()">Đóng</button>
</div>
<br />
