/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~angular-notifier/styles/core.scss';
@import "~angular-notifier/styles";

body {
  font-family: 'Roboto', sans-serif;
  margin:0px;
  padding: 0px;
  font-size: 13px !important;
  height: 100vh;
  background-color: #eee;
}

.breadcrumb {
  background: none !important;
  font-size: 14px;
  padding: 0px !important;
}

.breadcrumb-item {
  color: #42a9ee;
}

.breadcrumb-item:hover {
  cursor: pointer;
}

.breadcrumb-item.active {
  color: #6c757d !important;
}

.import-excel{
  background-image: url('assets/btn/btn_excel_up.gif');
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: bottom !important;
  height: 36px;
  min-width: 48px !important;
  padding: 0px !important;
}

// .import-excel:hover {
//  background-image: url('assets/btn/btn_excel_up1.gif');
// }


.download-sample{
  background-image: url('assets/btn/btn_sample_down.gif');
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: bottom !important;
  height: 36px;
  min-width: 48px !important;
  padding: 0px !important;
}

// .download-sample{
//   background-image: url('assets/btn/btn_sample_down1.gif');
// }

table {
  width: 100%;
}

th, td {
  vertical-align: middle !important;
  padding-left: 0px !important;
  margin: 0px !important;
}

.mat-cell, .mat-header-cell {
  text-align: center !important;
  vertical-align: middle !important;
}


th div button{
  margin: 0 auto !important;
}

th {
  font-weight: bold;
  // color: #9c27b0 !important;
}

table.table td a.edit {
  color: #FFC107 !important;
}
table.table td a.delete {
  color: #E34724 !important;
}

table.table td a.active {
  color: #0ac30a !important;
}

table.table td a.active:hover{
  cursor: pointer;
}

table.table td a.edit:hover{
  cursor: pointer;
}

table.table td a.delete:hover{
  cursor: pointer;
}

.page-header {
    height: 50px;
    font-size: 16px !important;
    /* color: rgba(195, 21, 79, 0.911); */
    /* font-weight: bold; */
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    background: linear-gradient(120deg, #ab47bc, #8e24aa);
    margin-bottom: 10px;
    vertical-align: middle !important;
    background-color: white;
    color: #ffffffff;
    padding-top: 13px !important;
    border-radius: 5px !important;
}

table:hover {
  cursor: pointer;
}

.mat-card {
  min-height: 525px !important;
}
