table {
  width: 100%;
}

th, td {
  vertical-align: middle !important;
  padding-left: 25px !important;
}

th div button{
  margin: 0 auto !important;
}

th {
  font-weight: bold;
}

table.table td a.edit {
  color: #FFC107 !important;
}
table.table td a.delete {
  color: #E34724 !important;
}

td.room-detail {
  vertical-align: middle !important;
  padding-left: 1.3em !important;
  padding-right: 1.3em !important;
}

td.room-number {
  padding: 0 !important;
}

td.room-number input {
  padding: 0 !important;
  border: none !important;
  padding-left: 25px !important;
}

.i-area {
  text-align: center !important;
}
