.page-body {
  margin:0;
  padding: 0;
  width: 100% !important;
  height: 657px !important;
  background-image: url(https://images.pexels.com/photos/773297/pexels-photo-773297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
