<div class="container">
  <notifier-container></notifier-container>
  <div class="mt-2 text-center text-uppercase page-header">Thông tin căn hộ</div>
</div>

<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-md-9 col-lg-9 col-sm-9">
        <button mat-raised-button (click)="addNew()" class="btn-success" matTooltip="Thêm mới">
          <i class="material-icons">
            add
          </i>
        </button>
        <button mat-raised-button (click)="cancelCome()" class="btn-danger ml-2" matTooltip="Huỷ chuyển đi">
          <i class="material-icons">
            clear
          </i>
        </button>
        <button mat-raised-button (click)="clickShowDetailRepair()" class="btn-info ml-2" matTooltip="Thông tin sửa chữa">
          <i class="material-icons">
            build
          </i>
        </button>
      </div>
      <div class="col-xl-3 col-md-3 col-lg-3 col-sm-3">
        <!-- <ol class="breadcrumb float-right">
                      <li class="breadcrumb-item" [routerLink]="['/user']">Danh sách cư dân</li>
                    </ol> -->
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-3 col-md-3 col-sm-3 font-weight-bold">Căn hộ:</div>
      <div class="col-xl-3 col-md-3 col-sm-3">{{room?.name}}</div>
      <div class="col-xl-3 col-md-3 col-sm-3 font-weight-bold text-right">Loại căn hộ:</div>
      <div class="col-xl-3 col-md-3 col-sm-3 text-right">{{room?.roomType === 'A'? 'Cao cấp' : 'Tầm trung'}}</div>
    </div>
    <div class="row mt-0">
      <div class="col-xl-3 col-md-3 col-sm-3 font-weight-bold">Tầng:</div>
      <div class="col-xl-3 col-md-3 col-sm-3">{{room?.floor.name}}</div>
      <div class="col-xl-3 col-md-3 col-sm-3 font-weight-bold text-right">Diện tích:</div>
      <div class="col-xl-3 col-md-3 col-sm-3 text-right">{{room?.area}} m<sup>2</sup></div>
    </div>
    <div class="row mt-0">
      <div class="col-xl-3 col-md-3 col-sm-3 font-weight-bold">Toà nhà:</div>
      <div class="col-xl-3 col-md-3 col-sm-3">{{room?.building.name}}</div>
      <div class="col-xl-3 col-md-3 col-sm-3 font-weight-bold text-right">Trạng thái:</div>
      <div class="col-xl-3 col-md-3 col-sm-3 text-right">
        {{room?.status === '0'? 'Trống' : room?.status === '1'? 'Đang cho thuê' : 'Đã bán'}}
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="row">
      <mat-form-field class="col-xl-3 col-md-3 col-sm-3 col-lg-3">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
      </mat-form-field>
      <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4"></div>
      <mat-form-field class="col-xl-2 col-md-2 col-sm-2 col-lg-2">
        <input matInput [matDatepicker]="comeDate" placeholder="Ngày đến" [formControl]="come" [min]="minDate"
          [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="comeDate"></mat-datepicker-toggle>
        <mat-datepicker #comeDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-xl-2 col-md-2 col-sm-2 col-lg-2">
        <input matInput [matDatepicker]="leaveDate" placeholder="Ngày đi" [formControl]="leave" [min]="minDate"
          [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="leaveDate"></mat-datepicker-toggle>
        <mat-datepicker #leaveDate></mat-datepicker>
      </mat-form-field>
      <div class="col-xl-1 col-md-1 col-sm-1 col-lg-1">
        <button *ngIf="isFilter===false" mat-raised-button style="margin-top: 10px;" (click)="filter()">
          Lọc <i class="fa fa-filter"></i>
        </button>
        <button *ngIf="isFilter===true" mat-raised-button style="margin-top: 10px;" (click)="cancelFilter()">
          Huỷ lọc
        </button>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table class="table-responsive table table-bordered table-hover table-sm" mat-table [dataSource]="dataSource"
        matSort>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center" style="width: 200px">Họ và tên</th>
          <td mat-cell *matCellDef="let row" style="width: 200px"> {{row.fullName}}</td>
        </ng-container>

        <ng-container matColumnDef="idCard">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px">CMND</th>
          <td mat-cell *matCellDef="let row" style="width: 100px"> {{row.idCard}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px">Địa chỉ</th>
          <td mat-cell *matCellDef="let row" style="width: 250px"> {{row.address}} </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px">Số điện thoại</th>
          <td mat-cell *matCellDef="let row" style="width: 100px"> {{row.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="comeDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 150px">Ngày đến</th>
          <td mat-cell *matCellDef="let row" style="width: 150px"> {{row.comeDate | date: 'dd-MM-yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="leaveDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 150px">Ngày đi</th>
          <td mat-cell *matCellDef="let row" style="width: 150px"> {{row.leaveDate | date: 'dd-MM-yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="hire">
          <th mat-header-cell *matHeaderCellDef mat-sort-heade style="width: 100px">Loại</th>
          <td mat-cell *matCellDef="let row" style="width: 100px"> {{row.hire === true? 'Thuê' : 'Mua'}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 150px">Giá tiền (VNĐ)</th>
          <td mat-cell *matCellDef="let row" style="width: 150px"> {{row.price | number : '1.0-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="deposit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 150px">Đặt cọc (VNĐ)</th>
          <td mat-cell *matCellDef="let row" style="width: 150px"> {{row.deposit | number : '1.0-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="depositDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 150px">Ngày đặt cọc</th>
          <td mat-cell *matCellDef="let row" style="width: 150px">{{row.depositDate | date: 'dd-MM-yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px">Tình trạng</th>
          <td mat-cell *matCellDef="let row" style="width: 100px">
            {{ row.leaveDate === null ? (row.status === true? 'Đã bàn giao' : 'Chưa bàn giao') :
              (row.leaveDate === row.comeDate? 'Đã huỷ' : 'Chuyển đi')}}
          </td>
        </ng-container>

        <ng-container matColumnDef="employee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px">Nhân viên</th>
          <td mat-cell *matCellDef="let row" style="width: 200px"> {{row.employee.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-card>
