.w-15 {
  width: 25% !important;
}

.w100 {
  width: 7em !important;
  height: 1.5em !important;
  border: 0.3px solid #000000;
}
// .custom-table {
//   width: 1300px !important;
//   overflow: scroll;
// }

.custom-table td {
  padding: 0px !important;
}

.custom-table td button {
  width: 100%;
  height: 100%;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.room-rent {
  background-color: #d6d83c;
  color: #ffffff;
  border-color: #d6d83c;
}

.room-sale {
  background-color: #f34040;
  color: #ffffff;
  border-color: #f34040;
}

.color-secondary {
  background-color: #6c757d !important;
}

.breadcrumb {
  background: none !important;
  font-size: 14px;
  padding: 0px !important;
}

.breadcrumb-item {
  color: #42a9ee;
}

.breadcrumb-item:hover {
  cursor: pointer;
}

.breadcrumb-item.active {
  color: #6c757d !important;
}
