<div class="container">
  <div class="row">
    <div class="col-xl-9 col-md-9 col-lg-9 col-sm-9">
      <button mat-raised-button [routerLink]="['/apartment/detail']">Cập nhật thông tin</button>
    </div>
    <div class="col-xl-3 col-md-3 col-lg-3 col-sm-3">
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item" [routerLink]="['/apartment']">Căn hộ</li>
        <li class="breadcrumb-item active">Tổng quan</li>
      </ol>
   </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-3 col-md-3 col-xl-7 text-right font-weight-bold">Trạng thái căn hộ: </div>
    <div class="col-sm-9 col-md-9 col-xl-5">
      <div class="row align-content-center">
        <div class="col-xl-4">
          <div class="room-empty w100"></div> Trống
        </div>
        <div class="col-xl-4">
          <div class="room-rent w100"></div> Đang cho thuê
        </div>
        <div class="col-xl-4">
          <div class="room-sale w100"></div> Đã bán
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-8">
      <span class="font-weight-bold">Toà nhà: </span>
      <span class="text-center">
        <mat-select placeholder="Chọn toà nhà" class="w-15" (valueChange)="selectionChange($event)">
          <mat-option>Chọn toà nhà</mat-option>
          <mat-option *ngFor="let b of buildings; index as i" [value]="i">
            {{ b.name }}
          </mat-option>
        </mat-select>
      </span>
    </div>
    <div class="col-xl-4">
    </div>
  </div>
</div>

<ng-container *ngIf="floors.length > 0">
  <div class="table-responsive mt-4">
    <table class="table table-bordered w-100 text-center custom-table">
      <tbody>
        <tr *ngFor="let f of floors">
          <td class="font-weight-bold vertical-align-middle" style="width: 75px;">{{f.name}}</td>
          <ng-template ngFor let-i [ngForOf]="matrix">
            <td *ngIf="f.rooms.length > i" style="width: 75px;">
              <button mat-button class="btn" (click)="openDialog(f.rooms[i])"
                      [ngClass]="{'room-rent': f.rooms[i].status === '1', 'room-sale': f.rooms[i].status === '2'}">
                {{ f.rooms[i].name }}
              </button>
            </td>
            <td *ngIf="f.rooms.length <= i" style="width: 75px;">
              <button mat-button class="btn"></button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
