<h1 mat-dialog-title class="font-weight-bold">{{data === null? 'Thêm mới' : 'Cập nhật thông tin'}}</h1>
<ngx-loading-bar></ngx-loading-bar>
<div mat-dialog-content>
  <form novalidate [formGroup]="frm" class="form-horizontal">
    <mat-form-field class="full-width">
      <input type="text" [formControl]="frm.get('name')" matInput placeholder="Tên loại dịch vụ" #name required>
      <mat-hint align="end">{{name.value.length}} / 100</mat-hint>
      <mat-error *ngIf="frm.get('name').hasError('required')">
        Bạn phải nhập tên loại dịch vụ
      </mat-error>
    </mat-form-field>
    <br>
    <mat-checkbox (change)="changeFixed($event)" [checked]="fixed">Phí cố định hàng tháng</mat-checkbox>
    <br>
    <br/>
    <mat-form-field class="full-width">
      <mat-select [(value)]="type" (selectionChange)="typeChange($event)">
        <mat-option value="0">Đơn giá</mat-option>
        <mat-option value="1">Luỹ tiến</mat-option>
      </mat-select>
      <mat-label>
        Loại
      </mat-label>
    </mat-form-field>
    <br/>
    <br/>
    <ng-container *ngIf="type === '0'">
      <mat-form-field class="full-width">
        <input type="number" [formControl]="frm.get('price')" matInput placeholder="Đơn giá" required>
      </mat-form-field>
      <br>
      <br>
    </ng-container>
    <ng-container *ngIf="type === '1'">
      <div class="float-right">
        <a mat-raised-button class="btn float-right" (click)="addPrice()">Thêm</a>
      </div>
      <br>
      <ng-container *ngIf="prices.length > 0">
        <div class="row text-center">
          <div class="col-xl-6">Mốc</div>
          <div class="col-xl-6">Đơn giá</div>
        </div>
        <ng-container *ngFor="let p of prices;index as i">
          <div class="row mt-1">
            <div class="col-xl-6">
                <mat-form-field class="full-width">
                  <input type="number" matInput [value]="p.m" (change)="changeM($event.target.value, i)">
                </mat-form-field>
            </div>
            <div class="col-xl-6">
              <mat-form-field class="full-width">
                <input type="number" [value]="p.p" matInput (change)="changeP($event.target.value, i)">
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <mat-form-field class="full-width">
      <input type="text" [formControl]="frm.get('unit')" matInput placeholder="Đơn vị tính" #unit required>
      <mat-hint align="end">{{unit.value.length}} / 100</mat-hint>
      <mat-error *ngIf="frm.get('unit').hasError('required')">
        Bạn phải nhập đơn vị tính
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="full-width">
      <input type="text" [formControl]="frm.get('supplier')" matInput placeholder="Nhà cung cấp" #supplier required>
      <mat-hint align="end">{{supplier.value.length}} / 100</mat-hint>
      <mat-error *ngIf="frm.get('supplier').hasError('required')">
        Bạn phải nhập nhà cung cấp
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [disabled]="frm.invalid" class="btn-success" (click)="save()">
    {{data === null? 'Thêm' : 'Cập nhật'}}
  </button>
  <button mat-raised-button (click)="onNoClick()">Huỷ bỏ</button>
</div>
