<notifier-container></notifier-container>
  <ngx-loading-bar></ngx-loading-bar>
<h1 mat-dialog-title class="font-weight-bold">Thông tin kiểm tra</h1>
<div mat-dialog-content>
  <mat-label class="font-weight-bold">Ngày kiểm tra</mat-label>
    <br />
  <input type="date" (change)="changeDate($event.target.value)" class="form-control font-12"
    [value]="maintenanceDate" placeholder="Ngày kiểm tra" >
  <br />

  <mat-label class="font-weight-bold">Loại kiểm tra</mat-label>
  <br />
  <br />
  <select class="form-control font-12" (change)="changeDes($event.target.value)">
    <option value="Kiểm tra vận hành thang máy">Kiểm tra vận hành thang máy</option>
    <option value="Vệ sinh, bảo trì thang máy">Vệ sinh, bảo trì thang máy</option>
    <option value="Khắc phục sự cố thang máy">Khắc phục sự cố thang máy</option>
  </select>
  <br />
  <br />

  <div class="row">
    <div class="col-xl-6 font-weight-bold" style="padding-top: 10px;">Nhân sự</div>
    <div class="col-xl-6 float-right">
      <button mat-raised-button class="float-right" (click)="addPerson()">Thêm</button>
    </div>
  </div>
  <br />
  <ng-container *ngIf="emps.length > 0">
      <div class="row text-center">
        <div class="col-xl-8">Nhân viên</div>
        <div class="col-xl-4">Kỹ thuật trưởng</div>
      </div>
     <ng-container *ngFor="let e of emps;index as i">
        <div class="row mt-1">
          <div class="col-xl-8" >
            <select class="form-control font-12" [value]="e.id" (change)="selectEmpChange($event, i)">
              <option value="0">Bỏ chọn</option>
              <option *ngFor="let emp of employees" [value]="emp.id">{{emp.name}}</option>
            </select>
          </div>
          <div class="col-xl-4">
            <input type="checkbox" class="float-right form-control font-12" (change)="supervisorChange($event, i)" [checked]="e.supervisor == true"/>
          </div>
        </div>
     </ng-container>
  </ng-container>
  <br/>
  <div class="row">
    <div class="col-xl-6 font-weight-bold" style="padding-top: 10px;">Thông tin kiểm tra</div>
    <div class="col-xl-6 float-right">
      <button mat-raised-button class="float-right" (click)="addDevice()">Thêm</button>
    </div>
  </div>
  <br />
  <ng-container *ngIf="devis.length > 0">
    <div class="row text-center">
      <div class="col-xl-3">Thang máy</div>
      <div class="col-xl-5">Mô tả</div>
      <div class="col-xl-4">Vị trí</div>
    </div>
    <ng-container *ngFor="let d of devis;index as i">
      <div class="row mt-1">
        <div class="col-xl-3">
          <select class="form-control font-12" [value]="d.id" (change)="selectDeviceChange($event, i)">
            <option value="0">Bỏ chọn</option>
            <option *ngFor="let device of devices" [value]="device.id">{{device.name}}</option>
          </select>
        </div>
        <div class="col-xl-5">
          <textarea class="form-control font-12" (change)="changeDescription($event, i)"></textarea>
        </div>
        <div class="col-xl-4">
          <input class="float-right form-control font-12" (change)="changeLocation($event, i)" />
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="btn-primary" (click)="save()">Lưu</button>
  <button mat-raised-button class="btn-default" (click)="onNoClick()">Đóng</button>
</div>
<br/>
