hr{
  margin-top: 0 !important;
}

.header {
  // color: #ffffff;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  // height: 2.5rem;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  background: #fff;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.active {
  background-color: #9c27b0;
  // background-color: rgba(71, 195, 226, 0.835);
  color: #ffffff !important;
}

.nav button {
  text-transform: uppercase;
  font-size: 12px;
  vertical-align: middle;
}


.pointer {cursor: pointer;}

.notification_item {
  width: 270px !important;
  text-align: center;
  font-size: 13px !important;
  height: 35px !important;
  vertical-align: middle !important;
}
.mat-menu-item {
  text-align: center;
  font-size: 13px !important;
  height: 35px !important;
  vertical-align: middle !important;
}

.sub-menu:hover {
  vertical-align: middle !important;
  background: #ab47bc;
  color: #ffffff;
}

.notification {
  padding-left: 3px !important;
  font-size: 10px !important;
  font-weight: bold !important;
}

.matmenucontent div {
  margin-top: 5px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  border-top: 0.5px #b4aaaa solid !important;
}

.notify-badge{
  border-top: 0.5px #b4aaaa solid !important;
  padding-top: 10px !important;
}

.bt {
  border-top: 0.5px #b4aaaa solid !important;
  font-size: 12px !important;
}
